extends base.pug

block title
  title= page.title + " | " + config.title

block main
  //- Blog title and subtitle
  header.wrapper.header
    .container.blog-title
      a#logo.title(href=url_for('.'))= config.title
      span.subtitle= config.subtitle
      label#toggle-menu(for="menu", onclick)
        i.fa.fa-bars
    //- use checkbox hack for toggle nav-bar on small screens
    input#menu(type="checkbox")
    .container.nav-items
      each nav, name in theme.menu
        +a_with_current(nav, __(name))

  article.wrapper
    .post-entry
      .post
        .container.post-header
          h1: = page.title

        .container.post-content
          != page.content

    include _partial/mathjax.pug

    if page.comments
      .post-main.post-comment
        include _partial/comments.pug

