//- normally should enclosed with .post-entry > .post
.post-archive
  -
    function groupBy(collection, keyFunc) {
      var result = {};
      collection.forEach(function(x) {
          var key = keyFunc(x);
          if (hasOwnProperty.call(result, key)) {
            result[key].push(x);
          } else {
            result[key] = [x];
          }
      });
      return result;
    }

  each posts, year in groupBy(page.posts.toArray(), function(p){return -p.date.format('YYYY')})
    h2= -year
    ul.listing
      for post in posts
        li
          span.date= post.date.format('YYYY/MM/DD')
          a(href=url_for(post.path), title=post.title)
            = post.title
